.main_content{
    position: absolute;
    top:45px;
    left:240px;
    bottom:0;
    right:0;
    padding: 10px;
    font-size: 14px;
}
.box {
    position: relative;
    width: 400px;
    height: 200px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px #ccc;
}
.box:after {
    position: absolute;
    display: inline-block;
    top: 178px;
    left: 190px;
    width: 0;
    height: 0;
    content: '';
    border-style: solid;
    border-width: 20px;
    border-color: #fff #fff transparent transparent;
    transform: rotate(135deg);
    box-shadow: 2px -2px 2px #ccc;
}