.main_map{
    position: absolute;
    top:45px;
    left:240px;
    bottom:0;
    right:0;
    font-size: 50px;
    overflow-y: auto;
    padding: 10px;
}
/*地图样式*/
.industryDistributing{
    padding: 10px;
    background-color: #fff;
    margin-top: 20px;
    margin-bottom:20px;
    width: 100%;
    float: left;
}
.industryDistributing-map{
    height:250px;
}
.industryDistributing-title1{
    font-size: 14px;
    color:#333;
    padding-bottom: 10px;
}
/* 标题竖线 */
.industryDistributing-title1 span{
    color: #0095e2;
}
